<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:fragment="icons">
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48 64x64" href="/favicon.ico?v=20260928-1" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=20260928-1" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=20260928-1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=20260928-1" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=20260928-1" color="#6d28d9" />
    <link rel="manifest" href="/site.webmanifest?v=20260928-1" />
    <meta name="theme-color" content="#6d28d9" />
    <meta name="application-name" content="TripBora" />
    <meta name="apple-mobile-web-app-title" content="TripBora" />
  </th:block>
</head>
</html>
