<!-- templates/fragments/footer.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
</head>
<body>
<footer th:fragment="siteFooter">
  <div class="site-footer">
    <div class="footer-inner">
      <div class="footer-logo">여행일기 Travel Diary</div>

      <ul class="footer-links">
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">고객센터</a></li>
      </ul>

      <div class="footer-info">
        <p>© 2025 여행일기. All rights reserved.</p>
        <p>Contact: travel@diary.com</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
