<!-- templates/fragments/header.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
</head>
<body>
<header th:fragment="siteHeader">
  <nav class="main-nav">
    <!-- 로고 -->
    <h1 class="logo">
      <a href="/"><img src="/images/logo7.png" alt="여행일기 로고" /></a>
    </h1>

    <!-- 검색 + 로그인/프로필 -->
    <div class="search-box">
      <!-- 검색 버튼 -->
      <button id="search-toggle" aria-label="검색 열기">
        <img src="/images/magnify.svg" alt="검색 아이콘" />
      </button>

      <!-- 숨겨진 검색창 -->
      <form id="search-form" class="hidden">
        <input type="text" placeholder="어디로 떠나 볼까요?" />
        <button type="submit">검색</button>
      </form>

      <!-- 로그인 / 프로필 -->
      <div id="auth-area">
        <button th:if="${!isLoggedIn}" id="login-btn"
                onclick="location.href='/login?redirect=' + encodeURIComponent(location.pathname + location.search)">
          로그인
        </button>
        <img th:if="${isLoggedIn}" id="profile-img"
             th:src="${user.profileImage != null} ? ${user.profileImage} : '/images/default-profile.png'"
             alt="내 프로필" />
        <th:block th:if="${isLoggedIn}">
          <a th:href="@{'/logout?redirect=' + ${currentUri}}" class="btn-logout">로그아웃</a>
        </th:block>
      </div>

      <!-- 어드민 전용 링크 -->
      <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <a href="/admin" class="admin-link">Admin</a>
      </th:block>
    </div>

    <!-- 메뉴 -->
    <div class="nav-grid">
      <ul class="main-menu">
        <li class="menu-item"><a href="/destinations?type=domestic">국내</a></li>
        <li class="menu-item"><a href="/destinations?type=overseas">해외</a></li>
        <li class="menu-item"><a href="/board/list">회원공간</a></li>
        <li class="menu-item"><a href="#">여행정보</a></li>
        <li class="menu-item"><a href="#">공지/문의</a></li>
        <li class="menu-item"><a th:href="@{/events}">이벤트</a></li>
      </ul>
    </div>

    <!-- 서브메뉴 -->
    <div class="global-submenu">
      <div class="submenu-grid">
        <div class="submenu-col"></div>
        <div class="submenu-col"></div>
        <div class="submenu-col">
          <ul>
            <li><a href="/board/list?boardType=post&postType=question">여행 질문</a></li>
            <li><a href="/board/list?boardType=post&postType=tip">여행 팁</a></li>
            <li><a href="/board/list?boardType=course">나의 여행코스</a></li>
          </ul>
        </div>
        <div class="submenu-col">
          <ul>
            <li><a href="#">국내정보</a></li>
            <li><a href="#">해외정보</a></li>
            <li><a href="#">축제 정보</a></li>
            <li><a href="#">공연&행사</a></li>
          </ul>
        </div>
        <div class="submenu-col">
          <ul>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">자주묻는질문</a></li>
            <li><a href="#">1:1 문의</a></li>
          </ul>
        </div>
        <div class="submenu-col">
          <ul>
            <li class="menu-item"><a th:href="@{/events(status='ongoing')}">진행 이벤트</a></li>
            <li class="menu-item"><a th:href="@{/events(status='upcoming')}">예정 이벤트</a></li>
            <li class="menu-item"><a th:href="@{/events(status='ended')}">종료된 이벤트</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
</body>
</html>
