<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/main :: layout(~{::body}, ~{::headFragment})">
<th:block th:fragment="headFragment">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="stylesheet" href="/css/amenity.css">
</th:block>
<th:block th:fragment="body">
  <div class="amenity-list-outer">
    <div class="amenity-list-wrapper">
      <div class="top-bar">
        <h1>번역 목록</h1>
        <div class="amenity-btn-bar">
          <a th:href="@{|/admin/amenities/${amenityId}/translations/create|}" class="btn">+ 번역 등록</a>
          <a th:href="@{/admin/amenities/list}" class="btn" style="margin-left:6px;">편의시설 목록</a>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th>ID</th>
          <th>언어</th>
          <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${translations}">
          <td th:text="${t.id}"></td>
          <td th:text="${t.languageCode}"></td>
          <td th:text="${t.name}"></td>
        </tr>
        </tbody>
      </table>
      <div th:if="${error}" style="color:#e74c3c;margin-top:18px;font-weight:500;" th:text="${error}"></div>
    </div>
  </div>
</th:block>
</html>
