<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.travlediary.repository.post.PostMapper">

    <!-- 게시글 저장 -->
    <insert id="insertPost" parameterType="com.example.travlediary.model.UserPost" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_posts (
            title, content, post_type, views, created_at, user_id, deleted
        ) VALUES (
                     #{title}, #{content}, #{postType}, 0, NOW(), #{userId}, 0
                 )
    </insert>

    <!-- 이미지 저장 -->
    <insert id="insertPostImage" parameterType="com.example.travlediary.model.PostImage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_images (
            image_url, deleted, uploaded_at, post_id
        ) VALUES (
                     #{imageUrl}, 0, NOW(), #{postId}
                 )
    </insert>

</mapper>
